<button (click)="toggleProductDetail()">Click</button>
<div class="products-grid">
    <app-product
        [product]="product"
        *ngFor="let product of products"
        (addedProduct)="onAddToShoppingCart($event)"
        (showProduct)="onShowDetail($event)"
    ></app-product>
</div>
<div class="product-detail" [class.active]="showProductDetail">
    <div>
        <button (click)="toggleProductDetail()">Close</button>
        Contenido
    </div>
</div>

<h2>Mi lista de productos</h2>
<app-product [product]="productos" *ngFor="let productos of myShoppingCart"></app-product>
<p>Cantidad de productos que he agregado {{myShoppingCart.length}}</p>
<p>La cantidad a pagar es de {{total.toFixed(2)}} $</p>
<p>Today: {{today | date: 'fullDate' }}</p>
<p>{{today | timeAgo}}</p>
<p>
    {{"HoLa ComO EsTaS" | uppercase }}
</p>