<!-- <input type="text" [(ngModel)]="imageSrc" />
<app-img
  *ngIf="showImage == true"
    (loaded)="onLoaded($event)"
    [image]="imageSrc"
    [valor]="title2"
></app-img>
<button (click)="toggleImage()">Toggle Image</button>
<p>{{ showImage }}</p> -->
<app-nav></app-nav>
<button (click)="createUser()">Create User</button>
<p>
  <a href="../assets/files/texto.txt" download>Descargar</a>
</p>
<p>
  <input type="file" (change)="onUpload($event)">
  <img *ngIf="imgRta" [src]="imgRta">
</p>
<p>
  <button (click)="downloadPdf()">Descarga PDF</button>
</p>
<app-products></app-products>
